copy_this/includes/modules/payment/ratepay_webservice/RatePAY-Gateway-Interface-XSD_1_1_1/ratepay-content-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rp="urn://www.ratepay.com/payment/1_0" elementFormDefault="qualified" targetNamespace="urn://www.ratepay.com/payment/1_0">
                
    <xs:complexType name="customerType">
        <xs:annotation>
            <xs:documentation>
                Customer data structure.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ratepay-customer-identification" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Optional RatePAY internal customer identification.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="first-name" type="rp:firstNameType">
                <xs:annotation>
                    <xs:documentation>The first name of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="last-name" type="rp:lastNameType">
                <xs:annotation>
                    <xs:documentation>The last name of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="middle-name" type="rp:middleNameType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional middle name of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name-suffix" type="rp:nameSuffixType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional name suffix like "Sen." or "Jun."</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="salutation" type="rp:salutationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional salutation like "Herr" or "Frau"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="company-name" type="rp:companyType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional company name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="title" type="rp:titleType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional title of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gender" type="rp:genderType">
                <xs:annotation>
                    <xs:documentation>Gender of the customer. Possible values: F (female), M (male), U (unknown)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="date-of-birth" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The date of birth of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ip-address" type="rp:ipAddressType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional IP address of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contacts" type="rp:contactsType">
                <xs:annotation>
                    <xs:documentation>Contact data of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="addresses" type="rp:addressesType">
                <xs:annotation>
                    <xs:documentation>One or more customer addresses.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bank-account" type="rp:bankAccountType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional bank account of the customer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nationality" type="rp:countryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional nationality of the customer (ISO-3166 numerical, alpha 2 or alpha 3 code).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customer-allow-marketing" type="rp:yesNoType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Optional flag, if customer complied with marketing contacts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customer-allow-credit-inquiry" type="rp:yesNoType">
                <xs:annotation>
                    <xs:documentation>Flag, if customer complied with credit agency inquiry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="firstNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="lastNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="middleNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType> 

    <xs:simpleType name="nameSuffixType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="salutationType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="companyType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="titleType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="genderType">
        <xs:annotation>
            <xs:documentation>Gender data type. Possible values: M (male), F (female), U (unknown)</xs:documentation>                
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ipAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(([0-9]{1,3}\.){3}[0-9]{1,3}|(([0-9a-fA-F]{0,4}):){1,7}[0-9a-fA-F]{0,4})"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="contactsType">
        <xs:annotation>
            <xs:documentation>
                Contact data of the customer.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="email" type="rp:emailType" minOccurs="0"/>
            <xs:element name="phone" type="rp:phoneType" minOccurs="0"/>
            <xs:element name="fax" type="rp:phoneType" minOccurs="0"/>
            <xs:element name="mobile" type="rp:phoneType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9äöüß!#$%&amp;'*+/=?^_`{|}~-]+(\.[A-Za-z0-9äöüß!#$%&amp;'*+/=?^_`{|}~-]+)*@([A-Za-z0-9äöüß]([A-Za-z0-9äöüß-]*[A-Za-z0-9äöüß])?\.)+[A-Za-z0-9äöüß]([A-Za-z0-9äöüß-]*[A-Za-z0-9äöüß])?"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
        
    <xs:complexType name="phoneType">
        <xs:annotation>
            <xs:documentation>Phone type consists of area-code and direct-dial. The area-code is optional and may be omitted. When the area-code element is missing, the direct-dial element must contain the whole phone number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Area code may be omitted (PPRP-126) -->
            <xs:element name="area-code" type="rp:areaCodeType" minOccurs="0"/>
            <xs:element name="direct-dial" type="rp:directDialType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="areaCodeType">
        <xs:annotation>
            <xs:documentation>
                The area code may be empty. But it is recommended to omit the area-code element in this case and not to set an empty area code.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <!-- <xs:pattern value="[\+0-9][0-9/\- \(\)]*"/> -->
            <!-- Allow empty area code (PPRP-126) -->
            <xs:pattern value="[\+0-9/\- \(\)]*"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="directDialType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\+0-9/\- \(\)]*"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="addressesType">
        <xs:annotation>
            <xs:documentation>One or more customer addresses.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="address" type="rp:addressType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element name="street" type="rp:streetType">
                <xs:annotation>
                    <xs:documentation>The street name. May contain also the street number (only if it is not possible the send the street number separately).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="street-additional" type="rp:streetAdditionalType" minOccurs="0"/>
            <xs:element name="street-number" type="rp:streetNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>If it is not possible to send the street number separately it may be send together with the "street".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="zip-code" type="rp:zipCodeType"/>
            <xs:element name="city" type="rp:cityType"/>
            <xs:element name="country" type="rp:countryType" minOccurs="0"/>
            <xs:element name="country-code" type="rp:countryCodeType"/>
        </xs:sequence>
        <xs:attribute name="type" use="optional" type="rp:addressTypeAttributeType"/>
    </xs:complexType>
    
    <xs:simpleType name="streetType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="streetAdditionalType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="streetNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="zipCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="cityType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="countryType">
        <xs:annotation>
            <xs:documentation>Name of the country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="countryCodeType">
        <xs:annotation>
            <xs:documentation>ISO-3166 country code (numerical, alpha 2 or alpha 3). Example: "276", "DE" or "DEU" for "Germany"</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}|[A-Z]{2,3}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="addressTypeAttributeType">
        <xs:annotation>
            <xs:documentation>Supported address types: billing address, delivery address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BILLING"/>
            <xs:enumeration value="DELIVERY"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="bankAccountType">
        <xs:annotation>
            <xs:documentation>Bank account data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="owner" type="rp:ownerType"/>
            <xs:element name="bank-account-number" type="rp:bankAccountNumberType"/>
            <xs:element name="iban" type="rp:ibanType" minOccurs="0"/>
            <xs:element name="bank-code" type="rp:bankCodeType"/>
            <xs:element name="bic" type="rp:bicType" minOccurs="0"/>
            <xs:element name="bank-name" type="rp:bankNameType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="ownerType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="bankAccountNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ibanType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{2}[0-9a-zA-Z]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="bankCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="bicType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{4}[A-Z]{2}[0-9a-zA-Z]{2}([0-9a-zA-Z]{3})?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="bankNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="paymentType">
        <xs:annotation>
            <xs:documentation>The payment data contains the payment method and some detail information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="amount" type="rp:amountType">
                <xs:annotation>
                    <xs:documentation>Amount of the payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="installment-details" type="rp:installmentDetailsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Details of installment payments. May be omitted for payment method INVOICE and RELAX.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="usage" type="rp:usageType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Defines a substring for the identification of this payment in associated tasks, created by the merchants system. This input parameter
                        can be used by RatePAY to generate the descriptor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="descriptor" type="rp:descriptorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        This output parameter defines a descriptor to identify this payment in associated tasks (bank transfer, correspondence etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="limits" type="rp:limitsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        This limits must not be exceeded for RatePAY transactions of the customer or merchant. Output parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="risk-category" type="rp:riskCategory" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Estimation of the risk by RatePAY processes. Output parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="max-risk-class" type="rp:riskCategory" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="method" use="optional" type="rp:paymentMethodAttributeType">
            <xs:annotation>
                <xs:documentation>The RatePAY payment method. May be omitted for payment change request, but is mandatory for other requests.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="currency" use="required" type="rp:currencyType"/>
    </xs:complexType>
    
    <xs:simpleType name="amountType">
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
    
    <xs:simpleType name="currencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR"/>            
            <xs:enumeration value="USD"/>
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="UKP"/>
            <xs:enumeration value="ITL"/>
            <xs:enumeration value="JPY"/>
            <xs:enumeration value="AUD"/>
            <xs:enumeration value="RUB"/>
            <xs:enumeration value="CAD"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="usageType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="descriptorType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="paymentMethodAttributeType">
        <xs:annotation>
            <xs:documentation>RatePAY payment methods. Currently available: INVOICE, INSTALLMENT, RELAX.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVOICE"/>
            <xs:enumeration value="INSTALLMENT"/>
            <xs:enumeration value="FIXRATE"/>
            <xs:enumeration value="FLEXRATE"/>            
            <xs:enumeration value="RELAX"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="limitsType">
        <xs:annotation>
            <xs:documentation>
                Current limits for transaction, merchant, customer and customers address.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="transaction" type="xs:decimal"/>
            <xs:element name="merchant" type="xs:decimal"/>
            <xs:element name="customer" type="xs:decimal"/>
            <xs:element name="address" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="riskCategory">
        <xs:annotation>
            <xs:documentation>Best category: 1, worst category: 10.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="installmentDetailsType">
        <xs:annotation>
            <xs:documentation>
                Some details for installment payments.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="installment-number" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of months the customer has to pay the installment-amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="installment-amount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>General amount the customer has to pay each month.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="last-installment-amount" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Amount of the last installment bank transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="interest-rate" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Interest rate of this installment (in German: "effektiver Jahreszins").</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="yesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
        
</xs:schema>
