copy_this/includes/modules/payment/ratepay_webservice/RatePAY-Gateway-Interface-XSD_1_1_1/ratepay-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rp="urn://www.ratepay.com/payment/1_0" elementFormDefault="qualified" targetNamespace="urn://www.ratepay.com/payment/1_0">

  <xs:include schemaLocation="ratepay-head-common.xsd"/>
  <xs:include schemaLocation="ratepay-content-common.xsd"/>

  <xs:element name="request" type="rp:requestType">
    <xs:annotation>
      <xs:documentation>The request element is the root of a RatePAY Gateway request.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="requestType">
    <xs:annotation>
      <xs:documentation>The request contains a head and an optional content element.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="head" type="rp:requestHeadType"/>
      <xs:element name="content" type="rp:requestContentType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" use="required" type="xs:decimal">
      <xs:annotation>
        <xs:documentation>The version attribute contains the RatePAY Gateway interface version. Currently: "1.0"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="requestHeadType">
    <xs:annotation>
      <xs:documentation>The request head contains some common data fields of a RatePAY Gateway request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="system-id" type="rp:systemIdType">
        <xs:annotation>
          <xs:documentation>The system-id element contains the host name or IP address of the calling system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transaction-id" type="rp:transactionIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The transaction-id element contains a RatePAY transaction ID. The transaction-id is created by a PAYMENT_INIT call and
            must be provided for all requests regarding a certain RatePAY transaction. The transaction-id may be empty for the following 
            RatePAY operations: STATUS_IS_ALIVE, PAYMENT_INIT. Other operations do require the transaction-id. The transaction-id is unique in a global manner.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transaction-short-id" type="rp:transactionShortIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The transaction-short-id element contains a human readable RatePAY transaction short ID. The transaction-short-id is created by a PAYMENT_INIT call and
            must be provided for all requests regarding a certain RatePAY transaction. The transaction-short-id may be empty for the following 
            RatePAY operations: STATUS_IS_ALIVE, PAYMENT_INIT. Other operations do require the transaction-short-id. A transaction-short-id may be unique relative to
            one merchant profile only.
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
      <xs:element name="operation" type="rp:operationType">
        <xs:annotation>
          <xs:documentation>
            The RatePAY workflow demands some different kinds of operation that must be processed in a determined order. One common workflow consists of the following operations:
            PAYMENT_INIT, PAYMENT_QUERY, PAYMENT_REQUEST, PAYMENT_CONFIRM, CONFIRMATION_DELIVER. Other operation flows are possible (see RatePAY Gateway documentation).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credential" type="rp:credentialType">
        <xs:annotation>
          <xs:documentation>
            A merchant will be authenticated by his own credentials (profile-id and security-code).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- DEPRECATED: this element is replaced by the customer-device element and will be removed in further versions of the interface -->
      <xs:element name="customer-device-encoded" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The RatePAY payment web pages contain script code to identify some basic device informations of the customers system. These informations should be added to the request, if available. 
            The customer device informations are encoded and will by checked by specific software modules.
            DEPRECATED: this element is replaced by the customer-device element and will be removed in further versions of the interface.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customer-device" type="rp:customerDeviceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The customer device element contains information about the device of the (end) consumer. These information can be used for fraud detection.
            The customer device element is mandatory for this operation type: PAYMENT_REQUEST
          </xs:documentation>
        </xs:annotation>  
      </xs:element>
      <xs:element name="external" type="rp:externalType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The external element contains some merchant data attributes. These attributes will be returned within the RatePAY Gateway response and may be used by the merchant software to process the response.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerDeviceType">
    <xs:annotation>
      <xs:documentation>
        The customer device element contains information about the device of the (end) consumer. These information can be used for fraud detection.
        Currently only the list of the headers of the customers HTTP request are supported.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="http-header-list" type="rp:httpHeaderListType">
        <xs:annotation>
          <xs:documentation>
            List of the HTTP request headers send by the customers browser. This list should contain ALL headers send by the browser.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="httpHeaderListType">
    <xs:annotation>
      <xs:documentation>
        List of the HTTP request headers send by the customers browser.
      </xs:documentation>
    </xs:annotation>    
    <xs:sequence>
      <xs:element name="header" type="rp:httpHeaderType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Element containing HTTP header information.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>    
  </xs:complexType>
  
  
  <xs:complexType name="httpHeaderType">
    <xs:annotation>
      <xs:documentation>
        Contains HTTP header information. The name of the HTTP header is defined by the 'name' attribute.
        The value of the HTTP header is defined by the (text) content of the 'header' element.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" use="required" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              HTTP header name.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="requestContentType">
    <xs:annotation>
      <xs:documentation>
        The request content may contain customer data, shopping basket data and payment data. Each type of content data is needed for certain RatePAY operations only:
        PAYMENT_INIT: no content allowed
        PAYMENT_QUERY: customer (optional), shopping basket (mandatory)
        PAYMENT_REQUEST: customer (optional if send by previous PAYMENT_QUERY, else mandatory), shopping basket (optional if send by previous PAYMENT_QUERY, else mandatory), payment (mandatory).
        PAYMENT_CONFIRM: no content allowed
        PAYMENT_CHANGE: shopping basket (mandatory, items may be omitted), payment (mandatory)
        CONFIRMATION_DELIVER: shopping basket (mandatory, items may be omitted).
        STATUS_IS_ALIVE: no content allowed
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customer" type="rp:customerType" minOccurs="0"/>
      <xs:element name="shopping-basket" type="rp:shoppingBasketType" minOccurs="0"/>
      <xs:element name="payment" type="rp:paymentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="credentialType">
    <xs:annotation>
      <xs:documentation>
        Merchant credentials (profile-id and securitycode). The securitycode must not be send as clear text but has to be MD5 encoded.
        Profile-id and securitycode will be provided by RatePAY.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="profile-id" type="rp:profileIdType">
        <xs:annotation>
          <xs:documentation>
            Identifier of merchant profile.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="securitycode" type="rp:securitycodeType">
        <xs:annotation>
          <xs:documentation>
            MD5 encoded securitycode.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="profileIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="securitycodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="shoppingBasketType">
    <xs:annotation>
      <xs:documentation>
        The shopping basket contains the aggregated amount and currency and should contain the shopping items.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="items" type="rp:itemsType"/>      
    </xs:sequence>
    <xs:attribute name="amount" use="required" type="xs:decimal">
      <xs:annotation>
        <xs:documentation>Aggregated amount for the customers shopping basket.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="currency" use="required" type="rp:currencyType"/>
  </xs:complexType>
  
  <xs:complexType name="itemsType">
    <xs:annotation>
      <xs:documentation>The items list may only be empty, if another interface for shoppig basket details exchange has been arranged with RatePAY.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="item" type="rp:itemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemType">
    <xs:annotation>
      <xs:documentation>
        A shopping item must contain article-number, quantity, unit-price and total-price. One of the elements tax and country-code must be
        contained. The country code enables RatePAY to calculated the tax, if country specific rules are available.
        The article category is optional. The interpretation of the category values must be arranged with RatePAY.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="article-number" use="required" type="xs:string"/>
        <xs:attribute name="quantity" use="required" type="xs:int"/>
        <xs:attribute name="tax" use="optional" type="xs:decimal"/>
        <xs:attribute name="country-code" use="optional" type="rp:countryCodeType"/>
        <xs:attribute name="total-price" use="required" type="xs:decimal"/>
        <xs:attribute name="unit-price" use="required" type="xs:decimal"/>
        <xs:attribute name="category" use="optional" type="rp:articleCategory"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="articleCategory">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="systemIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
    
</xs:schema>
