copy_this/includes/modules/payment/ratepay_webservice/RatePAY-Gateway-Interface-XSD_1_1_1/ratepay-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rp="urn://www.ratepay.com/payment/1_0" elementFormDefault="qualified" targetNamespace="urn://www.ratepay.com/payment/1_0">

  <xs:include schemaLocation="ratepay-head-common.xsd"/>
  <xs:include schemaLocation="ratepay-content-common.xsd"/>

  <xs:element name="response" type="rp:responseType">
    <xs:annotation>
      <xs:documentation>The response element is the root of a RatePAY Gateway response.</xs:documentation>
    </xs:annotation>    
  </xs:element>

  <xs:complexType name="responseType">
    <xs:annotation>
      <xs:documentation>The response contains a head and an optional content element.</xs:documentation>
    </xs:annotation>    
    <xs:sequence>
      <xs:element name="head" type="rp:responseHeadType"/>
      <xs:element name="content" type="rp:responseContentType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" use="required" type="xs:decimal">
      <xs:annotation>
        <xs:documentation>The version attribute contains the RatePAY Gateway interface version. Currently: "1.0"</xs:documentation>
      </xs:annotation>      
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="responseHeadType">
    <xs:annotation>
      <xs:documentation>The response head contains some common data fields of a RatePAY Gateway response.</xs:documentation>
    </xs:annotation>    
    <xs:sequence>
      <xs:element name="system-id" type="xs:string">
        <xs:annotation>
          <xs:documentation>The system-id element contains the host name or IP address of the calling system.</xs:documentation>
        </xs:annotation>        
      </xs:element>
      <xs:element name="transaction-id" type="rp:transactionIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The transaction-id element contains a RatePAY transaction ID. Every response except the STATUS_ID_ALIVE response contains the transaction ID.
            The transaction-id is unique in a global manner.
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
      <xs:element name="transaction-short-id" type="rp:transactionShortIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The transaction-short-id element contains a human readable RatePAY transaction short ID. Every response except the STATUS_ID_ALIVE response contains the transaction-short-id. 
            A transaction-short-id may be unique relative to one merchant profile only.
          </xs:documentation>
        </xs:annotation>          
      </xs:element>
      <xs:element name="operation" type="rp:operationType">
        <xs:annotation>
          <xs:documentation>
            The operation element of the request will be returned with the response.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="response-type" type="rp:responseTypeType">
        <xs:annotation>
          <xs:documentation>
            The response type specifies the type of the RatePAY response. The possible response types correspond to the operation:
            PAYMENT_INIT: STATUS_RESPONSE, STATUS_ERROR
            PAYMENT_QUERY: PAYMENT_PRODUCTS, STATUS_ERROR
            PAYMENT_REQUEST: PAYMENT_PERMISSION, STATUS_ERROR
            PAYMENT_CONFIRM: STATUS_RESPONSE, STATUS_ERROR
            PAYMENT_CHANGE: PAYMENT_PERMISSION, STATUS_ERROR
            CONFIRMATION_DELIVERY: STATUS_RESPONSE, STATUS_ERROR
            STATUS_IS_ALIVE: STATUS_RESPONSE, STATUS_ERROR
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="external" type="rp:externalType">
        <xs:annotation>
          <xs:documentation>
            The external element of the request will be returned with the response.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processing" type="rp:processingType">
        <xs:annotation>
          <xs:documentation>
            The processing element contains some status and result information.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseContentType">
    <xs:annotation>
      <xs:documentation>
        The content of the response is affected by the response type:
        STATUS_RESPONSE, STATUS_ERROR: no content
        PAYMENT_PRODUCTS: products, payment-classification
        PAYMENT_PERMISSION: customer, payment
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customer" type="rp:customerType" minOccurs="0"/>
      <xs:element name="payment" type="rp:paymentType" minOccurs="0"/>
      <xs:element name="products" type="rp:productsType" minOccurs="0"/>
      <xs:element name="payment-classification" type="rp:paymentClassificationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="responseTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAYMENT_PERMISSION"/>
      <xs:enumeration value="PAYMENT_PRODUCTS"/>
      <!-- <xs:enumeration value="PAYMENT_PERSON_IDENTIFICATION"/> Not supported for API version 1.0 -->
      <xs:enumeration value="STATUS_RESPONSE"/>
      <xs:enumeration value="STATUS_ERROR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="processingType">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Timestamp of the message processing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="rp:statusType">
        <xs:annotation>
          <xs:documentation>Contains status code and status message. The status code allows the merchant software to check, if any errors occured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reason" type="rp:reasonType"/>
      <xs:element name="result" type="rp:resultType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusType">
    <xs:annotation>
      <xs:documentation>Contains status code (code attribute) and status message (text content of element). The status code should be consulted in order to check the response state (not the status message).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" use="required" type="rp:statusCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="reasonType">
    <xs:annotation>
      <xs:documentation>
        The reason element contains the reason code (code attribute) and the reason message (text content of element). 
        In case of an error response the reason element contains a definition of the error.
        In case of a normal response the reason element contains information of the RatePAY workflow.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" use="required" type="rp:reasonCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="resultType">
    <xs:annotation>
      <xs:documentation>
        The result element contains the result code (code attribute) and the result message (text content of element). In most cases the result is extracted of the response of the risk management system.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" use="required" type="rp:resultCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="statusCodeType">
    <xs:annotation>
      <xs:documentation>
        The status code "OK" indicates normal message processing. The status code "WARNING" indicates some exceptional case, 
        but the response may be processed successfully by the merchant software. The status codes "ERROR" and "FATAL" implicate
        the response type STATUS_ERROR. In this case no processing will be possible.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="WARNING"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="FATAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reasonCodeType">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:simpleType name="resultCodeType">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:complexType name="productsType">
    <xs:annotation>
      <xs:documentation>
        Contains a list of RatePAY products the customer may use in the given situation.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" type="rp:productType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="productType">
    <xs:annotation>
      <xs:documentation>
        The product element contains some descriptive elements (name, description), limits of this product,
        the payment method and the (technical) product id.
        The name and the description may be used to display the provided products. The method of the product selected 
        by the customer determines the method attribute of the payment element.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="rp:productNameType"/>
      <xs:element name="description" type="rp:productDescriptionType"/>
      <xs:element name="merchant-limit" type="xs:decimal"/>
      <xs:element name="transaction-limit" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="id" type="rp:productIdType" use="required"/>
    <xs:attribute name="method" type="rp:paymentMethodAttributeType" use="required"/>
  </xs:complexType>
  
  <xs:simpleType name="productNameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>      
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="productDescriptionType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>      
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="productIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>      
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="paymentClassificationType">
    <xs:sequence>
      <xs:element name="classification" type="rp:classificationType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="classificationType">
    <xs:annotation>
      <xs:documentation>The (optional) classification shows the estimation of the risk calculated in the RatePAY workflow.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="green"/>
      <xs:enumeration value="yellow"/>
      <xs:enumeration value="red"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
